@model mvc_query_hub.Models.PipingQuery

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PipingQuery</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tags)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tags)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EditDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EditDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>



<hr />
<p>
    <a asp-controller="QueryComments" asp-action="Create" asp-route-id="@Model.Id">Create new</a>
</p>
<partial name="test" model=@ViewData["Comments"] />
